body {
    background-color: #fff;
    min-height: 100vh;
    width: 100%;
    color: white;
    padding: 0;
    margin: -20px 0 0 0;
    font-family: 'Lato', sans-serif;
    overflow-x:none;
}


/*ACCEUIL*/
.container{
    background-image: url(./public/banner.jpg);
    background-size: cover;
    background-position: top;
    min-height: 102vh;
}
.flex-banner{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.acceuil-logo{
    width: 40px;
    height: 40px;
    background-image: url(./public/logo.png);
    background-size: cover;
}

.logo-main{
    background-image: url(./public/logo-main.png);
    background-size: cover;
    width: 500px;
    height: 510px;
}
.coatch-card-zone{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    padding: 35px 0 0 0;
    background-color: #000;
}

.coatch-card{
    width: 100%;
    height: 480px;
}
.card-front img{
    width: 100%;
    height: 480px;
}





/* ----------- iPhone X ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
    .logo-main{
        width: 300px;
        height: 310px;
        margin-top: -200px;
    }
  }


  /*GALAXY NOTE 9*/
@media only screen and (min-width: 414px) and (max-width: 767px){
    .logo-main{
        width: 300px;
        height: 310px;
        margin-top: -200px;
    }
    }

    /* redmi note Xioamin 5_7 et samsung note 9*/
@media only screen and (min-width: 393px) and (max-width: 767px) { 
    .logo-main{
        width: 300px;
        height: 310px;
        margin-top: -200px;
    }
   }















/*NAVBAR CSS*/
.navbar{
    display: flex;
    list-style: none;
    text-decoration: none;
    height: 60px;
    width: 100%;
    max-width: 100%;
    padding: 0;
    background-color: rgba(0,0,0,1);
    top: 0;
    margin-bottom: 0;
    /* border-bottom: 2px solid yellow; */
}

.nav-left,.nav-right{
    display: flex;
    align-items: center;
    padding: 7px 20px;
    width: 50%;
}

.nav-left li,.nav-right li{
    margin: 0 15px;
    cursor: pointer;
    padding: 7px 15px;
}

.nav-left li:hover,.nav-right li:hover{
    color: black;
    background-color: yellow;
    /* border-radius: 25px; */
    padding: 7px 15px;
}


.nav-left{
    justify-content: flex-start;
}

.nav-right{
    justify-content: flex-end;
}

/* ----------- iPhone X ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
    .navbar{
        height: 120px;
        flex-direction: column;
    }
    .acceuil-logo{
        display: none;
    }
    .nav-right,.nav-left{
        width: 100%;
        justify-content: center;
        padding: 5px 0!important;
    }

    .nav-left li,.nav-right li{
        margin:0;
        width: 30%;
        display: flex;
        justify-content: center;
        padding: 7px 0;
    }

  }

  /*GALAXY NOTE 9*/
@media only screen and (min-width: 414px) and (max-width: 767px){
    .navbar{
        height: 120px;
        flex-direction: column;
    }
    .acceuil-logo{
        display: none;
    }
    
    .nav-right,.nav-left{
        width: 100%;
        justify-content: center;
        padding: 5px 0!important;
    }

    .nav-left li,.nav-right li{
        margin:0;
        width: 30%;
        display: flex;
        justify-content: center;
        padding: 7px 0;
    }
    }

    /* redmi note Xioamin 5_7 et samsung note 9*/
@media only screen and (min-width: 393px) and (max-width: 767px) { 
    .navbar{
        height: 120px;
        flex-direction: column;
    }
    .acceuil-logo{
        display: none;
    }
    .nav-right,.nav-left{
        width: 100%;
        justify-content: center;
        padding: 5px 0!important;
    }

    .nav-left li,.nav-right li{
        margin:0;
        width: 30%;
        display: flex;
        justify-content: center;
        padding: 7px 0;
    }
   }

















/*FORM INSCRIPTION*/

.subscribe-page{
    min-height: 100vh;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    background-image: url(./public/banner.jpg);
    background-size: cover;
}

.form-container{
    width: 30%;
    min-height: 45vh;
    padding: 35px 10px;
    margin: auto;
    height: auto;
    background-color: rgba(0,0,0,0.8);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    /* border-radius: 25px; */
    margin-top: 55px;
    margin-bottom: 55px;
}


.subscribe-btn{
    width: 180px;
    background-color: yellow;
    color: #000;
    padding: 7px 25px;
    border: 2px solid rgba(0,0,0,0);
    font-weight: bold;
    margin-top: 25px;
    margin-bottom: 25px;
    cursor: pointer;
    /* border-radius: 25px; */
}

.subscribe-btn:hover{
    background-color: rgba(0,0,0,0);
    color: yellow;
    border: 2px solid yellow;
}


.form-input-div{
    width: 100%;
    height: auto;
    padding: 15px 25px ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #000;
    color: white;
}

.form-input-div input{
    border: 2px solid yellow;
    width: 60%;
    height: 30px;
    background-color: #000;
    color: white;
    /* border-radius: 25px; */
    padding-left: 25px ;
}


.form-input-div input:focus,button:focus{
    outline: none;
}

a:-webkit-any-link {
    text-decoration: none;
    color: yellow;
}


/* ----------- iPhone X ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
      .form-container{
          width: 85%;
          margin-left: 5%;
      }
  }

    /*GALAXY NOTE 9*/
@media only screen and (min-width: 414px) and (max-width: 767px){
    .form-container{
        width: 85%;
        margin-left: 5%;
    }
}

      /* redmi note Xioamin 5_7 et samsung note 9*/
@media only screen and (min-width: 393px) and (max-width: 767px) { 
    .form-container{
        width: 85%;
        margin-left: 5%;
    }
}











/* CARDS PRICE*/
.tarifs{
    background-color: #fff;
    min-height: 102vh;
}
.detail-ligne{
    display: flex;
    align-items: center;
}
.detail-ligne div{
    padding: 0!important;
    margin-right: 10px!important;
}

.h2-title{
    width: 100%;
    color: black;
    display: flex;
    justify-content: center;
    background-color: rgba(0,0,0,0);
    margin:0;
    margin-top: 25px;
    margin-bottom: 25px;
    padding: 25px 0;
    text-transform: uppercase;
    font-size: 40px;
}
.account-page .h2-title,.infos-form-container .h2-title,.form-container .h2-title,.contact-zone .h2-title{
    color: white;
}
.nfos-form-container .h2-title

.cards-container{
    width: 100%;
    min-height: 90vh;
    background-color: rgba(0,0,0,0);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 75px;
}

.price-card-one,.price-card-two{
    background-color: black;
    width: 370px;
    height: 530px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    margin-bottom: 25px;
}

.formule-name{
    background-color: yellow;
    height: 40px;
    width: 100%;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;   
}

.select-btn{
    background-color: yellow;
    color: black!important;
    width: 50%;
    padding: 7px 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
    cursor: pointer;
    border: 2px solid yellow;
    /* border-radius: 25px; */
}

.select-btn:hover{
    background-color: black;
    border: 2px solid yellow;
    color: yellow!important;
}

.formule-price{
    border-top: 2px solid yellow;
    border-bottom: 2px solid yellow;
    font-size: 40px;
    padding: 20px 0;
    margin-top: 20px;
    font-family: 'Lato', sans-serif;
}

.formule-price span{
    font-size: 18px;

}

.formule-detail div{
    margin: 20px 0;
    padding: 5px 20px;
}

/* ----------- iPhone X ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
    .h2-title{
        font-size: 32px;
    }

  }

  /*GALAXY NOTE 9*/
@media only screen and (min-width: 414px) and (max-width: 767px){
    .h2-title{
        font-size: 32px;
    }
    }

    /* redmi note Xioamin 5_7 et samsung note 9*/
@media only screen and (min-width: 393px) and (max-width: 767px) { 
    .h2-title{
        font-size: 32px;
    }
   }

/*SENIOR*/

.senior-container{
    width: 100%;
    height: 400px;
    background-image: url(../SunGym/public/oldbanner.jpg);
    background-size: cover;
    color: black;
}

.senior-text-zone{
    margin-left: 5px;
    width: 800px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.senior-text-zone ul{
    padding: 0;
}

.senior-text-zone li{
    display: flex;
    align-items: center;
    margin: 5px 0
}

.senior-btn{
    width: 170px;
    height: 25px;
    padding: 7px 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
    margin-bottom: 25px;
    cursor: pointer;
    color: white;
    background-color: black;
    border: 2px solid black;
}

.senior-btn:hover{
    background-color: white;
    color:  black;
    border: 2px solid black;
}
.senior-txt{
    padding: 55px 0;
}
.senior-txt li{
    display: flex;
    align-items: center;
    margin: 15px 0;
}
.senior-page-banner{
    background-image: url(../SunGym/public/senban.png);
    width: 100%;
    height: 400px;
    background-size: cover;
}
/* ----------- iPhone X ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
    .senior-text-zone{
        width: 100%;
    }

  }

  /*GALAXY NOTE 9*/
@media only screen and (min-width: 414px) and (max-width: 767px){
    .senior-text-zone{
        width: 100%;
    }
    }

    /* redmi note Xioamin 5_7 et samsung note 9*/
@media only screen and (min-width: 393px) and (max-width: 767px) { 
    .senior-text-zone{
        width: 100%;
    }
   }









/*MON COMPTE*/

.account-page{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(./public/swarzy.jpg);
    background-size: cover;
}
.btn-modif-abonnement{
    background-color: black;
    border: none;
    color: white;
    height: 40px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    /* border-radius: 25px; */
}

/* ----------- iPhone X ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
      .resp-btn .btn-select{
          width: 200px;
          margin-bottom: 25px;
      }
      .account-page{
          background-image: url(./public/swarzyMobile.jpg);
      }
      .account-page .abonnement-infos-container{
        margin-left: 0;
        height: auto;
    }

  }

    /*GALAXY NOTE 9*/
@media only screen and (min-width: 414px) and (max-width: 767px){
    .resp-btn .btn-select{
        width: 200px;
        margin-bottom: 25px;
    }
    .account-page{
        background-image: url(./public/swarzyMobile.jpg);
    }
    .account-page .abonnement-infos-container{
        margin-left: 0;
    }

}

      /* redmi note Xioamin 5_7 et samsung note 9*/
@media only screen and (min-width: 393px) and (max-width: 767px) { 
    .resp-btn .btn-select{
        width: 200px;
        margin-bottom: 25px;
    }
    .account-page{
        background-image: url(./public/swarzyMobile.jpg);
    }

    .account-page .abonnement-infos-container{
        margin-left: 0;
    }
}





/*ABONNEMENT*/
.paiement-imput{
    color: white!important;
}
.abonnement{
    width: 100%;
    min-height: 102vh;
    background-image: url(./public/swarzy.jpg);
    background-size: cover;
    background-position: right;
}
.abonnement-infos-container{
    width: 80%;
    margin-left: 5%;
    margin-top: 55px;
    height: auto;
    background-color: rgba(0,0,0,0.8);
    padding: 2% 5%;
    /* border-radius: 25px; */
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    margin-bottom: 55px;
}

.formule-actuelle{
    border-bottom: 2px solid yellow;
    padding-bottom: 10px;
}

.btn-abonnement{
    background-color: yellow;
    color: black;
    width: 200px;
    padding: 7px 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
    margin-right: 55px;
    cursor: pointer;
    border: 2px solid yellow;
    /* border-radius: 25px; */
}

.btn-abonnement:hover{

    background-color: black;
    border: 2px solid yellow;
    color: yellow;
}

.paid-month-ligne div{
    margin-right: 275px;
}

/* ----------- iPhone X ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
    .abonnement-infos-container{
        height: 625px;
        margin-top: 50px;
    }

    .abonnement{
        background-image: url(./public/swarzyMobile.jpg);
    }
    .paid-month-ligne div{
        margin-right: 10px;
    }

  }

    /*GALAXY NOTE 9*/
@media only screen and (min-width: 414px) and (max-width: 767px){
    .abonnement-infos-container{
        height: 625px;
        margin-top: 50px;
    }
    .abonnement{
        background-image: url(./public/swarzyMobile.jpg);
    }
    .paid-month-ligne div{
        margin-right: 10px;
    }

}

      /* redmi note Xioamin 5_7 et samsung note 9*/
@media only screen and (min-width: 393px) and (max-width: 767px) { 
    .abonnement-infos-container{
        height: auto;
        margin-top: 50px;
    }
    .abonnement{
        background-image: url(./public/swarzyMobile.jpg);
    }
    .paid-month-ligne div{
        margin-right: 10px;
    }
}























/*CONTACT*/
.contact-page{
    background-image: url(./public/man3.jpg);
    background-position: right;
    background-size: cover;
    width: 100%;
}


.contact-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 80vh;
    margin-left: 20%;
    background-color: rgba(0,0,0,0.8);
    /* border-radius: 25px; */
    margin-top: 5vh;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2); 
    margin-bottom: 55px;
}

.contact-zone .contact-form{
    margin-left: 1%;
    background-color:  rgba(0, 0, 0, 0);
}

select:focus{
    outline: none;
}
.ElementsApp .InputElement{
    color: white;
}

.contact-form input{
    width: 60%;
    height: 35px;
    border: 2px solid yellow;
    background-color: #000;
    margin: 20px 0;
    /* border-radius: 25px; */
    color: white;
    padding-left: 35px;
}

.contact-form input::placeholder,textarea::placeholder{
    color: #999;
    font-family: 'Lato', sans-serif;
    
}
textarea{
    height: 150px;
    width: 60%;
    margin-left: 20%;
    border: 2px solid yellow;
    background-color: #000;
    margin: 10px 0;
    /* border-radius: 25px; */
    color: white;
    padding-left: 35px;
    padding-top: 5px;
}
input:focus,textarea{
    outline: none;
}

.btn-select{
    background-color: yellow;
    color: black;
    width: 20%;
    padding: 7px 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
    margin-bottom: 25px;
    cursor: pointer;
    border: 2px solid yellow;
    /* border-radius: 25px; */
}

.btn-select:hover{
    background-color: black;
    border: 2px solid yellow;
    color: yellow;
}

/* ----------- iPhone X ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
      .contact-form{
          width: 90%;
          margin-left: 5%;
      }
      .btn-select{
          width: 200px;
      }
  }

    /*GALAXY NOTE 9*/
@media only screen and (min-width: 414px) and (max-width: 767px){
    .contact-form{
        width: 90%;
        margin-left: 5%;
    }
    .btn-select{
        width: 200px;
    }
}

      /* redmi note Xioamin 5_7 et samsung note 9*/
@media only screen and (min-width: 393px) and (max-width: 767px) { 
    .contact-form{
        width: 90%;
        margin-left: 5%;
    }
    .btn-select{
        width: 200px;
    }
}






/*FOOTER*/
.footer{
    background-color: #000;
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 2px solid yellow;
}
.rgpd-zone{
    width: 60%;
    padding: 30px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.rgpd-zone div{
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.rgpd-zone div:hover{
    color: yellow;
}

.social-media{
    display: flex;
    justify-content: center;
    padding: 25px 0;
    width: 60%;
    border-top: 2px solid #fff;
}
.social-rounded{
    width: 40px;
    height: 40px;
    background-color: black;
    border-radius: 50%;
    margin: 10px;
    cursor: pointer;
    border: 2px solid rgba(0,0,0,0);
}

.social-rounded img{
    cursor: pointer;
}

.social-rounded:hover{
    background-color: #fff;
    border: 2px solid #fff;
}





/*INFOS CHANGE PAGE*/
.change-info-form-container{
    min-height: 102vh;
    background-image: url(./public/swarzy.jpg);
    background-size: cover;
    background-position: right;
}

.infos-form-container{
    width: 60%;
    margin-left: 20%;
    background-color: rgba(0,0,0,0.8);
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2); 
    margin-bottom: 55px;
    margin-top: 55px;
    /* border-radius: 25px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.infos-form-container .change-info-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.infos-form-container .change-info-form input{
    width: 100%;
}

/* ----------- iPhone X ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
    .change-info-form-container{
        background-image: url(./public/swarzyMobile.jpg);
    }

    .change-info-form-container .infos-form-container{
        width: 90%;
        margin:35px 0;
        margin-left: 5%;
    }
    .respChange{
        padding: 0 10px;
    }
    .change-info-form-container .infos-form-container .h2-title{
        text-align: center;
    }

  }

    /*GALAXY NOTE 9*/
@media only screen and (min-width: 414px) and (max-width: 767px){
    .change-info-form-container{
        background-image: url(./public/swarzyMobile.jpg);
    }
    .change-info-form-container .infos-form-container{
        width: 90%;
        margin:35px 0;
        margin-left: 5%;
    }
    .respChange{
        padding: 0 10px;
    }
    .change-info-form-container .infos-form-container .h2-title{
        text-align: center;
    }

}

      /* redmi note Xioamin 5_7 et samsung note 9*/
@media only screen and (min-width: 393px) and (max-width: 767px) { 
    .change-info-form-container{
        background-image: url(./public/swarzyMobile.jpg);
    }
    .change-info-form-container .infos-form-container{
        width: 90%;
        margin:35px 0;
        margin-left: 5%;
    }
    .respChange{
        padding: 0 10px;
        flex-direction: column;
        align-items: center;
    }
    .respChange .form-input-div{
        width: 80%;
        padding: 15px 25px;
        
    }
    .change-info-form-container .infos-form-container .h2-title{
        text-align: center;
    }

}




/*CGV*/

.cgv-text,.reglement-text{
    width: 80%;
    margin-left: 10%;
    padding: 55px 0;
    color: black;
}








/*PAYMENTS*/

.paiement-bg{
    width: 100%;
    min-height: 100vh;
    background-image: url(./public/victor-freitas-WvDYdXDzkhs-unsplash.jpg);
    background-size: cover;
}

.tabs-payment{
    height: 80vh;
    width: 60%;
    margin:0% 20%;
    padding: 2%;
}

.tabs-payment h3{
    font-size: 20px;
    text-transform: uppercase;
}
.tabs{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}


.tabs div{
    
    color: black;
    width: 33%;
    padding: 20px 10px;
    cursor: pointer;
    text-align: center;
}

.tab-content{
    background-color: rgba(0,0,0,0.8);
    padding: 25px 20px;
    
}
.tab-content h3{
    margin-top: 0;
    width: 100%;
    text-align: center;
}

.paiment-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 25px;
}


.paiment-form label{
    text-align: left;
    width: 60%;
}

.paiement-input{
    width: 60%;
    height: 35px;
    border: 2px solid yellow;
    background-color:  rgba(0, 0, 0, 0);
    margin: 10px 0 15px 0;
    /* border-radius: 25px; */
    color: white!important;
    padding-left: 35px;
}

.CardField{
    margin-top: 4px;
    height: 35px;
}

/* ----------- iPhone X ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
    .tabs-payment{
        width: 90%;
        margin-left: 3%;
    }

  }

    /*GALAXY NOTE 9*/
@media only screen and (min-width: 414px) and (max-width: 767px){
    .tabs-payment{
        width: 90%;
        margin-left: 3%;
    }

}

      /* redmi note Xioamin 5_7 et samsung note 9*/
@media only screen and (min-width: 393px) and (max-width: 767px) { 
 
    .tabs-payment{
        width: 90%;
        margin-left: 3%;
    }
}






/*REDIRECT TRANSFORMATION HOME PAGE*/
.redirect-transformation-container{
    background-color: black;
    width: 100%;
    height: 420px;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
}

.transfo-img-home{
    background-color: black;
    background-image: url(../SunGym/public/transfop.png);
    width: 50%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}
.transfo-text-and-btn{
    width: 40%;
    padding: 0 5%;
    height: 480px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.redirect-transfo-btn{
    background-color: yellow;
    color: black;
    width: 20%;
    padding: 7px 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
    margin-bottom: 25px;
    cursor: pointer;
    border: 2px solid yellow;
}

.redirect-transfo-btn:hover{
    background-color: black;
    border: 2px solid yellow;
    color: yellow;
}

/* ----------- iPhone X ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
    .redirect-transfo-btn{
        width: 40%;
    }
    .redirect-transformation-container{
        flex-direction: column;
        height: auto;
    }
    .transfo-text-and-btn{
        width: 90%;
    }
    .transfo-img-home{
        width: 90%;
        height: 300px;
        margin-top: 25px;
    }

  }

    /*GALAXY NOTE 9*/
@media only screen and (min-width: 414px) and (max-width: 767px){
    .redirect-transfo-btn{
        width: 40%;
    }
    .redirect-transformation-container{
        flex-direction: column;
        height: auto;
    }
    .transfo-text-and-btn{
        width: 90%;
    }
    .transfo-img-home{
        width: 90%;
        height: 300px;
        margin-top: 25px;
    }

}

      /* redmi note Xioamin 5_7 et samsung note 9*/
@media only screen and (min-width: 393px) and (max-width: 767px) { 
    .redirect-transfo-btn{
        width: 40%;
    }
    .redirect-transformation-container{
        flex-direction: column;
        height: auto;
    }
    .transfo-text-and-btn{
        width: 90%;
    }
    .transfo-img-home{
        width: 90%;
        height: 300px;
        margin-top: 25px;
    }
    
}













/*TRANSFORMATIONS*/
.step-card{
    width: 80%;
    margin-left: 10%;
    background-color: black;
    color: white;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
}

.step-number{
    width: 10%;
    font-size: 30px;
}
.step-text{
    width: 90%;
    border-left: 2px solid yellow;
}
.step-detail{
    color: black;
}

.card-padding{
    padding:25px 60px;
}

.card-detail-padding{
    width: 70%;
    margin-left: 10%;
    background-color: #efefef;
    border-radius: 5px;
    padding:1% 5%;
    margin-bottom: 25px; 
}
.h3-detail{
    text-align: center;
    color: black;
}
.card-h3-padding{
    width: 70%;
    margin-left: 10%;
    background-color: yellow;
    border-radius: 5px;
    padding:1% 5%;
    margin-bottom: 25px; 
}
.logo-bg-trans{
    display:flex;
    background-image:url(../SunGym/public/logo-trans.png);
    background-size:cover;
    background-position:center;
}

/* ----------- iPhone X ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
    .card-detail-padding p{
        padding: 25px!important;
    }
    .step-card{
        flex-direction: column;
    }
    .step-number{
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 2px solid yellow;
    }
    .step-text{
        text-align: justify;
        border: none;
    }
    .logo-bg-trans{
        background-image: url(../SunGym/public/logo-trans-small.png);
    }

  }

  /*GALAXY NOTE 9*/
@media only screen and (min-width: 414px) and (max-width: 767px){
    .card-detail-padding p{
        padding: 25px!important;
    }
    .step-card{
        flex-direction: column;
    }
    .step-number{
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 2px solid yellow;
    }
    .step-text{
        text-align: justify;
        border: none;
    }
    .logo-bg-trans{
        background-image: url(../SunGym/public/logo-trans-small.png);
    }
    }

    /* redmi note Xioamin 5_7 et samsung note 9*/
@media only screen and (min-width: 393px) and (max-width: 767px) { 
    .card-detail-padding p{
        padding: 25px!important;
    }
    .step-card{
        flex-direction: column;
    }
    .step-number{
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 2px solid yellow;
    }
    .step-text{
        text-align: justify;
        border: none;
    }
    .logo-bg-trans{
        background-image: url(../SunGym/public/logo-trans-small.png);
    }
   }



   /* WOMAN */
.woman-container{
    width: 100%;
    height: 400px;
    background-color: black;
    display: flex;
}
.woman-index-img{
    width: 50%;
    height: 100%;
    background-image: url(../SunGym/public/femmebanner.png);
    background-size: cover;
}
.woman-index-txt{
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.woman-page-banner{
    width: 100%;
    height: 400px;
    background-image: url(../SunGym/public/womanbanner.jpg);
    background-size: cover;
}
.woman-txt{
    width: 80%;
    margin-left: 10%;
    color: black;
    padding: 50px 0;
}
.woman-txt li{
    display: flex;
    align-items: center;
    margin: 15px 0;
}
/* ----------- iPhone X ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
    .woman-container{
        flex-direction: column;
        height: auto;
    }
    .woman-txt p{
        text-align: center;
    }
    .woman-index-img{
        width: 100%;
        height: 300px;
    }

  }

    /*GALAXY NOTE 9*/
@media only screen and (min-width: 414px) and (max-width: 767px){
    .woman-container{
        flex-direction: column;
        height: auto;
    }
    .woman-txt p{
        text-align: center;
    }
    .woman-index-img{
        width: 100%;
        height: 300px;
    }

}

      /* redmi note Xioamin 5_7 et samsung note 9*/
@media only screen and (min-width: 393px) and (max-width: 767px) { 
 
    .woman-container{
        flex-direction: column;
        height: auto;
    }
    .woman-txt p{
        text-align: center;
    }
 .woman-index-img{
     width: 100%;
     height: 300px;
 }   
}



















/*PREPA PHYSIQUE*/

.presentation-container{
    background-color: #fff;
    background-size: cover;
    width: 100%;
    height: auto;
    color: black;
}

.presentation-container h2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 55px;
}

.presentation-left,.presentation-right{
    width: 40%;
    padding: 5%;
}


.cards-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

/* ----------- iPhone X ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
    .presentation-container div{
        flex-direction: column;
        width: 90%;

    }
  }

  /*GALAXY NOTE 9*/
@media only screen and (min-width: 414px) and (max-width: 767px){
    .presentation-container div{
        flex-direction: column;
        width: 90%;

    }
    }

    /* redmi note Xioamin 5_7 et samsung note 9*/
@media only screen and (min-width: 393px) and (max-width: 767px) { 
    .presentation-container div{
        flex-direction: column;
        width: 90%;

    }
   }









/*COACHS*/

.serge-card{
    background-color: white;
    width: 100%;
    height: 500px;
    padding: 5px 0;
    display: flex;
    background-image: url(./public/sergebanner.jpg);
    background-size: cover;
}

.serge-left{
    width:60%;
}
.serge-right{
    padding: 55px 20px;
}

.serge-right li{
    font-size: 20px;
    margin: 10px 0;
    display: flex;
    align-items: center;
}

.serge-right span{
    text-align: center;
}
.serge-right ul{
    margin-top: 50px;
}

.serge-right h3{
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 25px;
    color: yellow;
}

.losange-list{
    width: 10px;
    height: 10px;
    transform: rotate(45deg);
    border: 2px solid yellow;
    margin-right: 15px;
}

/* ----------- iPhone X ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
    .serge-card{
        flex-direction: column;
    }
    .serge-right{
        background-color: rgba(0, 0, 0, 0.6);
    }
    .serge-card{
        padding: 0px;
    }

  }

    /*GALAXY NOTE 9*/
@media only screen and (min-width: 414px) and (max-width: 767px){
    .serge-card{
        flex-direction: column;
    }
    .serge-right{
        background-color: rgba(0, 0, 0, 0.6);
    }
    .serge-card{
        padding: 0px;
    }

}

      /* redmi note Xioamin 5_7 et samsung note 9*/
@media only screen and (min-width: 393px) and (max-width: 767px) { 
 
    .serge-card{
        flex-direction: column;
        height: auto;
    }
    .serge-right,.serge-left{
        background-color: rgba(0, 0, 0, 0.6);
    }
    .serge-card{
        padding: 0px;
    }
}
















/*Alertes*/

.ct-toast{
    background-color: black!important;
    color: white!important;
    margin-top: 75px!important;
}

.ct-toast-success{
    border: 2px solid yellow;
    border-left: 3px solid yellow!important;
}

.ct-toast-error{
    border:2px solid red;
}